:root {
  --white: #F7F7F7;
  --yellow: #FFC000;
  --grey: #DDDDDD;
  --black: #313131;
  --bg: #161925;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.3s;
  font-family: 'Architects Daughter', cursive;
  font-family: 'Comic Neue', cursive;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--bg);
}
.app_box {
  width: 100%;
  height: 100%;
}
.nav_bar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
  background: var(--bg);
  padding-top: 10px;
  position: fixed;
  top: 0;
}
.notes_box {
  width: 100%;
  padding: 70px  30px 20px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: scroll;
}
.note {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.note p {
  color: black;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 600;
}
.add_btn {
  padding: 5px 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  bottom: 30px;
  right: 0px;
}
.add_note_box {
  width: 100%;
  height: 60px;
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  bottom: -60px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.showANB {
  width: 100%;
  height: 60px;
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.add_note_box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  padding: 5px 60px 5px 20px;
  color: var(--white);
}
.add_note_box button {
  padding: 10px 25px;
  background: transparent;
  position: absolute;
  right: 0;
  border: none;
  cursor: pointer;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: bold;
}
.message_box {
  width: 100vw;
  height: 100vh;
  background: #0000004D;
  backdrop-filter: blur(5px);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.message {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: var(--white);
}
.closeMessage {
  padding: 10px 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 5px;
  font-weight: bold;
}
